{% extends 'spa/base.html' %}

{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'spa/edit.css' %}">
{% endblock styles %}

{% block title %}<title>Crear publicacion</title>{% endblock title %}

{% block content %}
  <section>
    <div class="content">
      <div class="content-title">
        <h1 class="title">
          Crear publicación
        </h1>
      </div>
      <div class="content-form">
        <form action="" method="post">
          {% csrf_token %}
      
          {% for publication in form %}
            <div class="form-inputs">
              <label for="">{{publication.label}}</label>
              <input 
                type="{{publication.field.widget.input_type}}"   placeholder="{{publication.label}}"
                name="{{publication.name}}" 
                value="{{publication.value | default:''}}"/>
            {% if publication.errors %}
                {{publication.errors}}
            {% endif %}
            </div>
          {% endfor %}
      </div>
      <div class="content-buttons">
        <input class="input-button" type="submit" value="Crear publicación">
        
        <a class="back-button" href="{% url 'spa:content' %}">
          Cancelar
        </a>
      </div>
      </form>
    </div>
  </section>
{% endblock content %}