{% extends 'spa/base.html' %}

{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'spa/details.css' %}">
{% endblock styles %}

{% block title %}{{publication.title}}{% endblock title %}

{% block content %}
  <section>
    <div class="content">
      <div class="content-title">
        <h1 class="title">{{publication.title}}</h1>
      <span class="author">Escrito por {{publication.author}}</span>
      </div>
      <div class="content-text">
        <p>{{publication.content}}</p>
      </div>
      <div class="content-date">
        <span class="date">
          Publicado {{publication.date}}
        </span>
      </div>
    <div class="content-form">
      <form class="content-votes" method="post">
        {% csrf_token %}
        <button 
          class="like"
          type="submit"
          name="like">
          <i class='bx bxs-like'></i> {{publication.positive_votes}}
        </button>
        <button 
          class="dislike"
          type="submit" 
          name="dislike">
          <i class='bx bxs-dislike' ></i> {{publication.negative_votes}}
        </button>
      </form>
    </div>
      <div class="content-buttons">
        <a class="edit" href="{% url 'spa:edit' publication.id %}">
          Editar
        </a>
        <a class="delete" href="{% url 'spa:deleted' publication.id %}">
          Eliminar
        </a>
      </div>
      <div class="content-exit">
        <a class="back-button" href="{% url 'spa:content' %}">Volver a inicio</a>
      </div>
    </div>
  </section>
{% endblock content %}

