{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--links-->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'spa/base.css' %}">
  <link rel="stylesheet" href="{% static 'spa/view.css' %}">
  <!--title-->
  <title>Publicaciones</title>
</head> 
<body> 
  <header>
    <div class="header-title">
      <h1>Prueba técnica <span>Bitmotto</span>
      </h1>
      <span class="minimal-text">
        SINGLE PAGE APLICATION
      </span>
    </div>
    
    <div class="header-button">
      <a href="{% url 'spa:create' %}">
        <i class='bx bx-plus-medical'></i>
        Añadir publicación</a>
    </div>
  </header>
  <main> 
    {% if publication_list %}
      <ul> 
        {% for publication in publication_list %}
         <li>
          <div class="content">
             <div class="content-title">
              <i class='bx bx-chevron-right'></i><h2 class="content_title">{{publication.title}}</h2>
             </div>
            <p>Por {{publication.author}}</p>
            <div class="content-votes">
              <p class="positive-votes">
                <i class='bx bxs-like '></i>
                {{publication.positive_votes}} 
              </p>| 
              <p class="negative-votes">
                <i class='bx bxs-dislike'></i>
                {{publication.negative_votes}}
              </p>
            </div>
            <a href="{% url 'spa:detail' publication.id %}">Ver</a>
          </div>
         </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hay elementos para mostrar.</p>
    {% endif %}
  </main>

</body>
</html>